* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body {
    background: linear-gradient(to bottom right, black, #400000);
    background-repeat: no-repeat;
    min-height: 100vh;
    height: 100%;
    padding: 10px;
    display: flexbox;
}
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* search bar styling */
.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background: #fff;
    width: 500px;
    height: 55px;
    display: flex;
    border-radius: 40px;
}

form input{
    flex: 1;
    border: none;
    outline: none;
    color: black;
}

form button{
    background: rgb(212, 35, 64);
    padding: 10px 50px;
    border: none;
    border-top-right-radius: 40px ;
    border-bottom-right-radius: 40px;
    outline: none;
    color: rgb(244, 234, 234);
    letter-spacing: 1px;
    cursor: pointer;
}
form .fa-search{
    align-self: center;
    padding: 10px 20px;
    color: #777;
}
/*  */

.movie-section{
    display: flex;
    justify-content: center;
}

.service-btn{
    display: flex;
    justify-content: center;
    margin: 0;

}
.service-btn button{
    border-radius: 50%;
    background-color: transparent;
    outline: none;
    border: 0px;
    width: 50px
}
.service-btn img {
    width: 50px;
}


.logo img {
    flex-basis: 400px;
    flex-grow: 0;
    flex-shrink: 1;


}


.movie-card {
    font-size: medium;
    background-color: rgba(0,0,0,.6);
    color: white;

    flex-basis: 1400px;
    flex-grow: 0;
    margin: 20px 40px 0px 40px;
    padding: 0px 20px;
}


#movie-poster img {
    width: 100px;
    float: left;
    margin: 10px;
}
#movie-title {
    color: white;
<<<<<<< Updated upstream
    font-size: medium;
=======

>>>>>>> Stashed changes
    font-weight: bold;
    margin-left: 10px;

}
.drink-card {
    display: none;
    font-size: medium;
    color: white;
    flex-basis: 1400px;
    flex-grow: 0;
<<<<<<< Updated upstream
    margin: 0px 40px 0px 40px;
=======
    margin: 160px 0px 20px 0px;
    width:fit-content;

>>>>>>> Stashed changes
}

.flex-container {
    display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  justify-content: center;
  
}
#streaming-tag {
    background-color: rgba(0,0,0,.6);
}

#get-smashed-button {
    background-color: rgba(0,0,0,.6);
    color: white;
    max-height: 40vh;
    flex-basis: 1400px;
    flex-grow: 0;
    padding: 30px;
    margin: 0px 40px 0px 40px;
    display: flex;
    justify-content: center;
    
}
#get-smashed-generator {
    background: rgb(212, 35, 64);
    padding: 10px 50px;
    border: none;
    border-radius: 25px;
    outline: none;
    color: rgb(244, 234, 234);
    letter-spacing: 1px;
    cursor: pointer;
}

.streaming-btns {
    position: relative;
    bottom: -85px;
}
.streaming-btns img {
    width: 30px;

}