* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background: linear-gradient(to bottom right, black, #400000);
    height: 100vh;
}
p {
    color: rgb(200, 17, 17);
}
/* search bar styling */
.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background: #fff;
    width: 500px;
    height: 55px;
    display: flex;
    border-radius: 40px;
}

form input{
    flex: 1;
    border: none;
    outline: none;
}

form button{
    background: rgb(171, 11, 11);
    padding: 10px 50px;
    border: none;
    border-top-right-radius: 40px ;
    border-bottom-right-radius: 40px;
    outline: none;
    color: rgb(244, 234, 234);
    letter-spacing: 1px;
    cursor: pointer;
}
form .fa-search{
    align-self: center;
    padding: 10px 20px;
    color: #777;
}
/*  */

.movie-section{
    display: flex;
    justify-content: center;
}

.service-btn{
    display: flex;
    justify-content: center;
    margin: 0;
}
.service-btn button{
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: 0px;
}
.service-btn image {
    
}
.logo {

    justify-content: center;
}


.movie-card {
    font-size: medium;
    background-color: rgba(0,0,0,.6);
    max-width: 100%;
    max-height: 20vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#movie-title {
    color: white;
    font-size: medium;
    font-weight: bold;
}